@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Inconsolata';
  font-weight: 400;
  src: url('../font/inconsolata.woff');
}

html {
  font-family: 'arial';
  @apply antialiased;
  @apply text-gray-800;
  @apply bg-white;
}

#app {
  @apply text-sm;
}
